<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
	<parameter name="browser" value="chrome"/>
	<parameter name="appURL" value="https://freshdesk-aud-test.chargebee.com/"/>
	<test name="Sku Automation">
		<classes>
			<class name="com.itppm.test.app.DriverApp"></class>
		</classes>
	</test>
</suite>
